/*
 *= require_tree .
 *= require_self
 *
 */


body { font-size: 1.75em; }

.buffer-top {
  margin-top: 1.5em;
}

.buffer-bottom {
  margin-bottom: 2em;
}

.buffer-both {
  margin-bottom: 2em;
  margin-top: 2em;
}

.tasks {
  display: inline-block;
  border: ridge gray 2px;
  padding: 5px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button { 
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  border: none;
}

.edit-button {
  background: blue;
  color: #fff;
}

.edit-button:hover {
  background: lavender;
  transition: all 0.2s ease;
  color: black;
}

.todo {
   display: inline-block;
 }

 .row-buttons {
   position: relative;
   margin-left: 0px;
   padding-bottom: 3px;
 }

.todo-buttons {
  position: relative;
  display: inline-block;
  height: 130px;
  width: 115px;
}

.deadline { 
  color: red;
  text-decoration: bold;
}

.created { 
  color: #58bdef;
  text-decoration: bold;
}

.task {
  margin-bottom: 1em;

  .action { opacity: 0 };

  &:hover .action {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

.priority_1 {color: #009090}
.priority_2 {color: #c09000}
.priority_3 {color: #c00000}

.completed_true .title {color: #c0c0c0; text-decoration: line-through}

.done {
  margin-left: 10px;
}

.completed_true .done {display: none;}

body.dark {
  background-color: rgb(30,34,39);
  color: #fff;
}
body.dark code[class*=language-],
body.dark table tbody>tr:nth-child(odd)>td,
body.dark table tbody>tr:nth-child(odd)>th {
  background: #282c34
}
