/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker
 */

body {font-size: 1.75em;}

.buffer-top {
  margin-top: 1.5em;
}

.buffer-bottom {
  margin-bottom: 2em;
}

.buffer-both {
  margin-bottom: 2em;
  margin-top: 2em;
}

.tasks {
  display: inline-block;
  border: ridge gray 2px;
  padding: 5px 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.button { 
  display: inline-block;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  border: none;
}

.edit-button {
  background: blue;
  color: #fff;
}

.edit-button:hover {
  background: lavender;
  transition: all 0.2s ease;
  color: black;
}

.todo {
   display: inline-block;
 }

 .row-buttons {
   position: relative;
   margin-left: 0px;
   padding-bottom: 3px;
 }

.todo-buttons {
  position: relative;
  display: inline-block;
  height: 130px;
  width: 115px;
}

.deadline { 
  color: red;
  text-decoration: bold;
}

.created { 
  color: #58bdef;
  text-decoration: bold;
}

.task {
  margin-bottom: 1em;

  .action {opacity: 0};

  &:hover .action {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

.priority_1 {color: #009090}
.priority_2 {color: #c09000}
.priority_3 {color: #c00000}

.completed_true .title {color: #c0c0c0; text-decoration: line-through}

.done {
  margin-left: 10px;
}

.completed_true .done {display: none;}

/*light-color: #111;
*dark-color: #eee;
*
*ody.dark-mode {
* background-color: $dark-color;
* color: $light-color;
* a {
*   color: $dark-color;
* }
* button {
*   background-color: #111;
*   color: #eee;
* }
*
*
*ody.light-mode {
* background-color: $light-color;
* color: $dark-color;
* a {
*   color: $dark-color;
* }
* button {
*   background-color: $dark-color;
*   color: $light-color;
* }
*/
